* {
    border: none;
    font-family: Mulish;
}

body {
    width: 99%;
    height: 100%;
    background-color: #111829;
}

header {
    z-index: 1;
    width: 100%;
    height: 50px;
    background-color: #111829;
    /* margin-top: 12px; */
    margin-left: 20px;
    position: fixed;
    top: 0;
    padding-bottom: 28px;

}

.navbar {
    /* display: grid;
    grid-template-columns: 2fr 1fr; */
    align-items: center;
    /* padding-top: ; */
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 28px;
    
}

.navbar-left {
   display: flex;
   justify-content: space-between;
}

#logo {
    /* margin-bottom: -80px; */
    margin-left: 3px;
    width: 63.83px;
    height: 38.3px;
    padding-top: 15.85px;
    padding-bottom: 15.85px;
}

.ul-spacing {
    display: flex;
    flex-direction: row;
    padding-top: 7px;
    width: 600px;
    justify-content: space-between;
    /* margin-top: 24px; */
    color: rgb(19, 19, 41);
}

.ul-spacing-2 {
    width: 400px;
}

.list {
    display: flex;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    position: fixed;
}

.list > a:hover {
    background-color:rgb(97, 107, 104);
    padding: 2px 8px 2px 8px;
    transition: 0.5s;
    border-radius: 5px;
}

.navbar-right {
    margin-top: 5px;
    /* margin-left: 100px;
    justify-self: end; */
    /* position: fixed; */
    /* align-items: center; */
    /* padding-top: 7px; */
    display: flex;
    justify-content: space-between;
 }

.r-1-li {
    margin-top: 5px;
    padding-bottom: 3px;
}

#trial {
    background-color: rgb(97, 107, 104);
    color: white;
    text-decoration: none;
    margin-right: 50px;
    padding: 12.5px 24px 12.5px 24px;
    text-align: center;
    border-radius: 5px;
    font-size: 12px;
    font-family: roboto;
    font-weight: 400;
}

#trial:hover {
    color:rgb(173, 180, 178);
    /* padding: 12px 9px 12px 9px; */
    transition: 0.5s;
    border-radius: 5px;
}


.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* margin-top: 0px 20px 0px 20px; */
    align-items: center;
}

.main-left {
    margin-top: 238px;
}

.container-1   {
    display: flex;
    background-color:black;
    width: 247px;
    border-radius: 20px;
    margin: 0px 20px 14px 20px;
    height: 28px;
    align-items: center;
    justify-content: center; 
}

.hiring{
  color: white;
  background:linear-gradient(90.6deg, #13B4A7 18.38%, rgba(16, 170, 170, 0.689722) 51.22%, #0893B0 83.27%);
  padding: 3px 10px 3px 10px;
  margin: 4px 4px 4px -30px;
  border-radius: 20px;
  font-size: 12px;
  width: 64px;
  height: 14px;
  font-family: roboto;
  font-weight: 400;
}

#careers {
    background-color:black;
    text-decoration: none;
    align-self: center;
    color: white;
    margin-left: 5px;
    font-family: roboto;
    font-size: 12px;
    font-weight: 400;
}

.fa-chevron-right {
    width: 5.25px;
    height: 10.5px;
    position: absolute;
    align-self: center;
    margin-left: 6.75px;
    margin-top: 2px;
}

#careers:hover {
    color: rgb(126, 139, 135);
    transition: 0.5s;
}

.bold-text {
    color: white;
    font-size: 60px;
    margin: 0px 0px 0px 20px;
    line-height: 60px;
    padding-bottom: ;
    width: 450px;
    height: 143px;
}

.span-right {
    color:rgb(12, 184, 184);
    display: block;
}

.container-3 p {
    color: white;
    margin: 14px 110px 57px 20px;
    width: 450px;
    height: 96px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.container-4 {
    display: flex;
    flex-direction: row;
    /* grid-template-columns: 1.5fr 0.5fr; */
}

input {
    background-color: aliceblue;
    margin: 0px 15px 57px 20px;
    border-radius: 4px;
    padding: 8px 16px;
    width: 363px;
    height: 25px;
}

button {
    background-color: rgb(97, 107, 104);
    width: 127px;
    height: 42px;
    justify-content: center;
    border-radius: 4px;
    margin: 0px 55px 57px 0px;
    color: white;
    font-size: 16px;
}

/* .main-right {
    margin-top: 171px;
} */

#hero-img {
    width: 680px;
    height: 611px;
    align-self: center;
    right: 20px;
    margin: 171px 0px 50px 20px;
}

#start {
    margin: 0px 0px 126px 20px;
    font-size: 12px;
    font-weight: 400;
    color:#54E1EA;
    font-family: 'roboto', 'sans-serif';
    line-height: 14px;
    font-style: normal;
}

#terms {
    font-weight: 700;
    font-size: 12px;
    text-decoration:underline;
    color: #54E1EA;
}

#terms:hover {
    color: #71bbc0;
}