* {
    border: none;
    font-family: Mulish;
}

body {
    width: 100%;
    height: 100%;
    background-color: #111829;
}

header {
    z-index: 1;
    width: 100%;
    height: 70px;
    background-color: #111829;
    /* margin-top: 12px; */
    margin-left: 20px;
    position: fixed;
    top: 0;
    padding-bottom: 28px;

}

.navbar {
    /* display: grid;
    grid-template-columns: 2fr 1fr; */
    align-items: center;
    /* padding-top: ; */
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 28px;
    
}

.navbar-left {
   display: flex;
   justify-content: space-between;
}

#logo {
    /* margin-bottom: -80px; */
    margin-left: 3px;
    width: 63.83px;
    height: 38.3px;
    padding-top: 15.85px;
    padding-bottom: 15.85px;
}

#navbar > ul {
    display: flex;
    flex-direction: row;
    padding-top: 7px;
    /* margin-top: 24px; */
    color: rgb(19, 19, 41);
}

#navbar > ul > li {
    margin-left: 62px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 16px;

}

li > a:hover {
    background-color:rgb(97, 107, 104);
    padding: 2px 8px 2px 8px;
    transition: 0.5s;
    border-radius: 5px;
}

.navbar-right {
    /* margin-top: 35px; */
    /* margin-left: 100px;
    justify-self: end; */
    /* position: fixed; */
    /* align-items: center; */
    /* padding-top: 7px; */
     display: flex;
    justify-content: space-between;
 } 

.navbar-right li {
    text-decoration: none;
}

/* .navbar-right li:nth-of-type(2) {
     margin-top: -10px; 
    background-color: rgb(97, 107, 104);
    padding: 10px 7px 10px 7px;
    text-align: center;
    border-radius: 5px;
    font-size: 12px;
} */

#trial {
    background-color: rgb(97, 107, 104);
    color: white;
    text-decoration: none;
     /* background-color: rgb(97, 107, 104); */
    padding: 10px 7px 10px 7px;
    text-align: center;
    border-radius: 5px;
    font-size: 12px;
}


.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 79px;
    align-items: center;
}

.hiring {
    display: flex;
    background-color:black;
    width: 247px;
    border-radius: 30px;
    margin: 67px 20px 20px 20px;
    height: 28px;
}

.hiring p {
  color: white;
  background:linear-gradient(90.6deg, #13B4A7 18.38%, rgba(16, 170, 170, 0.689722) 51.22%, #0893B0 83.27%);
  padding: 3px 10px 3px 10px;
  margin: 4px;
  border-radius: 20px;
  font-size: 12px;
  align-self: center;
  width: 84px;
  font-family: roboto;
  font-weight: 700;

}

#careers {
    background-color:black;
    text-decoration: none;
    align-self: center;
    color: white;
    margin-left: 5px;
    font-family: roboto;
    font-size: 12px;
}

.fa-chevron-right {
    align-self: center;
    margin-left: 6.75px;
    margin-top: 3.75px;
}

#careers:hover {
    color: rgb(126, 139, 135);
    transition: 0.5s;
}

.bold-text h1 {
    color: white;
    font-size: 60px;
    margin-left: 20px;
}

.bold-text > h1 > span {
    color:rgb(12, 184, 184);
    display: block;
}

.desc p {
    color: white;
    margin-left: 20px;
    width: 80%;
    font-weight: 400;
    font-size: 16px;
}

.input {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
}

input, button {
    background-color: aliceblue;
    margin-left: 20px;
    border-radius: 5px;
    padding: 10px;
}

button {
    background-color: rgb(97, 107, 104);
    color: white;
    margin-bottom: 0px;
}

.main-right {
    /* margin-top: ; */
}

#hero-img {
    width: 680px;
    height: 611px;
    /* align-self: ; */
    right: 20px;
}

#start {
    margin-top: 57px;
    margin-bottom: 126px;
    font-size: 12px;
    font-weight: 400;
    color:#54E1EA;
    margin-left: 20px;
}

#terms {
    font-weight: 700;
    font-size: 12px;
    text-decoration:underline;
    color: #54E1EA;
}

#terms:hover {
    color: #71bbc0;
}